.mbottom20{
    margin-bottom: 20px;
}
.padding20{
    padding: 20px;
}
.paddings20{
    padding: 20px 20px;
}
.border{
    border: 1px solid #e0e0e0;
    background-color: #fff;
}
.mleft10{
    margin-left: 10px;
}
tr{
    background-color: #fff;
}
.wide-250{
    width: 250px;
}
.mtop20{
    margin-top: 20px;
}
.search-box{
    padding: 20px 20px;
}
.filters{
    margin-top: -15px;
    margin-left: 10px;
    position: absolute;
    font-weight: 600;
}
.modal-dialog{
    max-width: 75%;
}
.image{
    width: 100%;
    height: 150px;
}
.block-button{
    border-radius: 30px;
    padding: 0px 30px 0px 30px;
    background: #fff;
    border: 2px solid red;
    color: red;
    height: 30px;
    font-weight: 500;
    margin-left: 20px;
}
.back{
    background: #fff;
    color: blue;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-weight: 500;
}
.delete{
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    background: #FFF;
    border: 1px solid #e0e0e0;
    font-weight: 500;
    margin-left: 20px;
}
.wide200{
    width: 200px;
}